<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Website}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <h2 class="hidden"><%= lat%></h2>
    <h2 class="hidden"><%=long%></h2>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng('<%= lat%>','<%= long%>');
  var mapOptions = {
    zoom: 13,
    center: myLatlng
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var trafficLayer = new google.maps.TrafficLayer();
  trafficLayer.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>

<body>
    <header class="header">
        <div class="logo">{{Website}}</div>
        <nav class="nav">
            <ul class="navbar">
                <li><a href="/home">Home</a></li>
                <li><a href="/report">Report</a></li>
                <li><a href="/traffic">Live Traffic</a></li>
                <li><a href="/contacts">Contact Numbers</a></li>
                <li><a href="/event">Events</a></li>
                <li><button id="nav-button">Emergency</button></li>
            </ul>
        </nav>
    </header>
    
        <div class="top-notice">
            <div class="notice-container">
                <div class="notice-icon">
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="notice-content">
                    This is an important notice. Please read it carefully.
                </div>
            </div>
        </div>

        <div class="main-heading">
            <div class="card-box city-selection">
                <h5>Select a City:</h5>
              <form action="/home" method="post">
                <select class="select-style" name="cityName">
                <option value="Kathmandu" selected>Kathmandu</option>
                <option value="Bhaktapur">Bhaktapur</option>
                <option value="Kirtipur">Kirtipur</option>
                <option value="Chabahil">Chabahil</option>
                <option value="Patan">Patan</option>
                </select>
                <button class="change-city" type="submit">Go</button>
                </form>
            </div>
            <h1>Today in <%= city %></h1>
        </div>

        <div class="landing-content">
            <div class="live-data">
                <div class="weather-card card-box">
                    <div class="card-icon">
                        <img src=<%= imgUrl%> alt="">
                    </div>
                    <div class="card-data">
                        <p>T:<%= temp%>°C </p>
                        
                    </div>
                </div>
                <div class="pollution-card card-box">
                    <div class="card-icon">
                        <i class="fas fa-smog"></i>
                    </div>
                    <div class="card-data">
                        <h6>H:<%= humidity%></h6>
                        <h6>W:<%= windSpeed%>m/s</h6>
                    </div>

                </div>
                <div class="forecast-link">
                    <a href="forecast.html">Forecast</a>
                </div>
            
            <div class="suggestion-card card-box">
                <p>Suggested to carry umbrella</p>
            </div>
        </div>

            <div class="events-list card-box">
                <h4>Events</h4>
            </div>

            <div class="live-traffic card-box">
                <h4>Live Traffic</h4>
                 <div id="map-canvas"></div>
            </div>

            </div>

        </div>
    </div>
</body>

</html>